black==22.3.0
catboost==1.0.3
category-encoders==2.3.0
charset-normalizer==2.0.6
docutils==0.17.1
graphviz==0.17
matplotlib==3.4.3
pandas==1.4.2
plotly==5.3.1
py==1.10.0
pytest==6.2.5
pytz==2021.3
regex==2021.10.8
requests==2.26.0
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
shap==0.40.0
statsmodels==0.13.0
tqdm==4.62.3
unittest2==1.1.0
xgboost==1.5.0
pmlb==1.0.1
numpy==1.20.3
numba==0.51.2
seaborn==0.11.2
fairlearn==0.4.1
category_encoders==2.3.0
folktables==0.0.11
kaleido==0.2.1
lime==0.2.0.1